<div class="main_chat">
  <div class="main_header">
    <div class="chatroom_name"><%= @room.name %></div>
    <div class="destroy_chatroom">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
  <div class="messages">
    <div class="message">
      <div class="message_info">
        <div class="name">Tom</div>
        <div class="date">2022/06/10(Fri) 14:20:30</div>
      </div>
      <div class="content">hello, world!</div>
    </div>
  </div>
  <%= form_with model: [@room, @message], class: "form", local: true do |f| %>
    <div class="form-input">
      <%= f.text_field :content, placeholder: "type a message", class: "form-text" %>
      <label class="form-image">
        <span class="image-file">画像</span>
        <%= f.file_field :image, class: "hidden" %>
      </label>
    </div>
    <%= f.submit "送信", class: "submit-btn" %>
  <% end %>
</div>